@import url("https://fonts.googleapis.com/css?family=Roboto:300");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.main-container{
  background-size:cover;
  width:100vw;
  height:100vh;
  margin:10px;
}
.flex-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:flex-start;
}
.img-container{
  width:30vw;
  height:100vh;
  margin-right:25px;
}
.img-element{
  width:100%;
  height:60%;
}
.thumbnails{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
.thumbnails-1{
  width:70px;
  height:90px;
  margin-right:8px;
  border-radius: 3px;
}
.thumbnails-2{
  width:70px;
  height:90px;
  margin-right:5px;
  border-width:2px;
  border-color:blue;
  border-style: solid;
  border-radius: 3px;

}
.content-container{
  width:50%;
  height:80%;
}
.para-element{
  font-size:10px;
  color:black;

}
.percent{
    margin-left:15px;
    font-size:25px;
    font-weight:bold;
    color:#b80b84;
}
.price{
  font-size:25px;
  font-weight:bold;
  color:#04207d;
}
.money-container{
    display:flex;
    flex-direction: row;
}
.compare-value{
    text-decoration: line-through;
    margin:0px;
    font-size:25px;
    color:#a7b0ab;
}
.colorsContainer{
  display: flex;
}
.orange{
  width:50px;
  height:50px;
  background-color:orange;
  margin-left:10px;
}
.orange_main{
  width:52px;
  height:50px;
  background-color:orange;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
.green{
  width:50px;
  height:50px;
  background-color:green;
  margin-left:10px;

}
.green_main{
  width:52px;
  height:50px;
  background-color:green;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
.blue{
  width:50px;
  height:50px;
  background-color:blue;
  margin-left:10px;

}
.blue_main{
  width:52px;
  height:50px;
  background-color:blue;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
.pink{
  width:50px;
  height:50px;
  background-color:pink;
  margin-left:10px;

}
.pink_main{
  width:52px;
  height:50px;
  background-color:pink;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
.smallcontainer{
  display: flex;
  width:100px;
  height:40px;
  justify-content: center;
  align-items:center;
}
.mediumcontainer{
  display:flex;
  width:100px;
  height:40px;
  justify-content: center;
  align-items:center;
}
.sizeContainer{
  display: flex;
  flex-direction: row;
  
  width:100%;
}
.labelEl{
  width:50px;
}
.largeContainer{
  display:flex;
  width:100px;
  height:40px;
  justify-content: center;
  align-items:center;

}
.extraLarge{
  display:flex;
  width:100px;
  height:40px;
  justify-content: center;
  align-items:center;

}
.buttonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.plusOrminus{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:beige;
  border-radius: 20px;
  width:150px;
  height:40px;
  margin-top:10px;

}
.paracount{
  color:black;
}
.cartContainer{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:blue;
  color:white;
  border-radius: 20px;
  width:200px;
  height:40px;
  margin-top:10px;
  margin-left: 20px;
  border-width:0px;

}
.choose-size{
  font-family:"Arial";
  color:#8c858a;
}
.cart-img{
  width:20px;
  height:20px;
  margin-right:10px;
}
.cart-text{
  font-size:15px;
}
.description{
  font-family:"Roboto";
}
.title-el{
  font-size:30px;
  font-family: "Roboto";
  padding:0px;
  margin:0px;
  margin-top:5px;
}
.paragraph-el{
  font-size:18px;
  font-family:"Roboto";
  color:#a7b0ab;
  font-weight:700;
  padding:0px;
  margin:0px;
}
.plus{
  background-color:transparent;
  border-width:0px;
}
@media all and  (max-width:576px){
.thumbnails-1{
  width:40%;
  height:80%;
  margin-right:2px;
  border-radius: 3px;
}
.thumbnails-2{
  width:40%;
  height:80%;
  margin-right:5px;
  border-width:2px;
  border-color:blue;
  border-style: solid;
  border-radius: 3px;

}
.description{
    font-size:7px;
}
.cart-text{
    font-size:6px;
}
.thumbnails{
    width:70%;
    height:20%;
}
.paragraph-el{
    font-size:10px;
}
.title-el{
    font-size:10px;
}
.price{
    font-size:10px;
}
.percent{
    font-size:10px;
}
.compare-value{
    font-size:10px;
}
.choose-size{
    font-size:10px;
}
.orange{
  width:20px;
  height:20px;
  background-color:orange;
  margin-left:10px;

}
.orange_main{
  width:22px;
  height:22px;
  background-color:orange;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
.blue{
  width:20px;
  height:20px;
  background-color:blue;
  margin-left:10px;

}
.blue_main{
  width:22px;
  height:22px;
  background-color:blue;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
.green{
  width:20px;
  height:20px;
  background-color:green;
  margin-left:10px;

}
.green_main{
  width:22px;
  height:22px;
  background-color:green;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
.pink{
  width:20px;
  height:20px;
  background-color:pink;
  margin-left:10px;

}
.pink_main{
  width:22px;
  height:22px;
  background-color:pink;
  display:flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #b80b84;
  border-width:3px;
  margin-left:10px;
}
}